body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f0f8ff; 
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    background-color: #026b5b; 
    padding: 15px;
}

header h1 {
    color: white;
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.welcome-box {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}


h2 {
    color: #026b5b; 
    text-align: center;
}

h3 {
    color: #026b5b;
}

/* Link */
a {
    color: #026b5b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


footer {
    background-color: #026b5b;
    color: white;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
